<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email Verification</title>
    <style>
      .card { border: 1px solid black; ; background-color: white; padding: 16px;
      max-width: 512px; margin-left: auto; margin-right: auto;} .button-link {
      background-color: black; border-radius: none; color: white;
      text-decoration: none; padding: 8px 16px; border-radius: 5px; width: 100%
      max-content;} .center { margin: 0 auto; text-align: center; display:
      block; } .logo { display: block; margin: 0 auto 20px; max-width: 150px; }
    </style>
  </head>
  <body>
    <div class='card'>
      <img
        src='http://localhost:8000/logo1.png'
        alt='Tech Titans'
        class='logo'
      />
      <h1>Email Verification</h1>
      <br /><br />
      <p>Hi, <strong>{{email}}</strong></p>
      <br /><br />
      <p>
        You're almost done registering. Simply click the link below to verify
        your email address. The link will expire in
        <strong>1 hour</strong>.
      </p>
      <br /><br />
      <div>
        <a class='button-link center' target='_blank' href='{{url}}'>Verify my
          email address</a>
      </div>
    </div>
  </body>
</html>