<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email Verification</title>
    <style>
      .card { border: 1px solid #007bff; background-color: #e9f4ff;
      border-radius: 5px; padding: 16px; max-width: 512px; margin-left: auto;
      margin-right: auto; } .button-link { background-color: white; color:
      #007bff; border: 1px solid #007bff; text-decoration: none; padding: 8px
      16px; border-radius: 5px; width: max-content; } .center { margin: 0 auto;
      text-align: center; display: block; }
    </style>
  </head>
  <body>
    <div class='card'>
      <h1>Email Verification</h1>
      <p>Hi, <strong>{{email}}</strong></p>
      <p>
        You're almost done registering. Simply click the link below to verify
        your email address. The link will expire in
        <strong>1 hour</strong>.
      </p>
      <div>
        <a class='button-link center' target='_blank' href='{{url}}'>Verify my
          email address</a>
      </div>
    </div>
  </body>
</html>
